<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Word-finder</Name>
    <Version>4.0</Version>
    <Title>Word-finder installer</Title>
    <Publisher>Émile Laforce</Publisher>
    <InstallerApplicationIcon>../../Resources/glass</InstallerApplicationIcon>
    <StartMenuDir>Emalice</StartMenuDir>
    <WizardStyle>Modern</WizardStyle>
    <TargetDir>@ApplicationsDir@/Emalice/Word-finder</TargetDir>
</Installer>